body {
    padding-top: 3.375rem;
    color: #6c757d;
  }
h1 span{
  color: skyblue
}
  section.resume-section {
      display: flex;
      align-items: center;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
      max-width: 75rem;
    }
    section.resume-section .resume-section-content {
        width: 100%;
    }
    
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}
.social-icons .social-icon:last-child {
    margin-right: 0;
}
.social-icons .social-icon:hover {
    background-color: skyblue;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }
}

.nav-item{
  color: #fff !important;
  font-size: large;
}

@media (min-width: 992px) {
  body {
      padding-top: 0;
      padding-left: 17rem;
    }
  #sideNav {
      /* text-align: center; */
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100vh;
      background: #040b14 !important;
  }
  #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
  } 
#sideNav .navbar-brand .img-profile {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}
#sideNav .navbar-collapse {
  flex-grow: 0;
  margin-bottom: auto;
}
}

@media (max-width: 576px) {
  .resumeImg {
    width: 300px;
    object-fit: contain;
  }
 }